ul#oc-coursenavlist {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0px;
    text-align: center;
    max-width: 1080px;
    width: 80%;
    min-width: 275px;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .wrap {
        max-width: 610px;
    }
}

.wrap {
    position: relative;
    margin: 20px auto 30px auto;
    width: calc(284px * 3);
    max-width:100%
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .frame ul li {
        width: 178px;
        margin: 20px 0px 20px auto;
    }
}

.frame ul li {
    float: left;
    width: 280px;
    height: auto;
    margin: 0px 4px 0px auto;
    padding: 0;
    background: #ddd;
    color: #ddd;
    cursor: pointer;
    z-index: 10;
    vertical-align: middle;
}

.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    vertical-align: middle;
}

.frame ul li img {
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    opacity: 0.6;
    object-fit: cover;
}

.frame ul li img.active {
    opacity: 1 !important;
}
.frame ul li .icon {
    position: absolute;
    top: -1.25rem;
    font-size: 40px;
    width:40px;
    margin-left:240px;
    text-align: center;
    height: 40px;
    text-shadow: 0.5px 2px 1px rgba(255, 255, 255,0.75);
    display:none;
}
.frame ul li.active .icon {
    display:block;
}

.chapters-control-prev, .chapters-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    text-decoration:none;
    opacity: .5;
    transition: opacity 0.15s ease;
}
.chapters-control-prev .icon, .chapters-control-next .icon {
    font-size:30px;
    text-align:center;
    width:100%;
    height:40px;
}
.chapters-control-prev {
    left:-50px;
}
.chapters-control-next {
    right:-50px;
}
.chapters-control-prev:target, .chapters-control-next:target {
    scroll-margin-top: unset;
  }
.chapters-control-prev:hover, .chapters-control-next:hover, 
.chapters-control-prev:focus, .chapters-control-next:focus {
    text-decoration:none;
    outline:0;
    box-shadow:none !important;
    opacity: 1;
}


.ocmooc-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.ocmooc-navigation li {
    margin-right: 10px;
    width: 96px;
    height: 96px; /* Set the desired height */
}

.ocmooc-navigation li:first-child,
.ocmooc-navigation li:last-child {
    width: 30px;
}

.ocmooc-navigation li.button-item {
    width: 96px;
}

.ocmooc-navigation li button,
.ocmooc-navigation li a {
    width: 100%;
    height: 100%; /* Make the buttons and links fill the entire height of their parent */
    background-color: #eaeaea;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ocmooc-navigation li button:hover,
.ocmooc-navigation li a:hover {
    background-color: #ccc;
}

.ocmooc-nav-link .text-container {
    align-items: flex-start; /* Align elements to the top */
}
.course-content .ocmooc {
    padding-left:0px;
}
