<li class="badge-list-item">
    <img
            class="badge-img"
            src="{{imageurl}}"
            style="opacity: {{#owned}}1.0{{/owned}}{{^owned}}0.15{{/owned}};"
    />
    <a href="{{badgeurl}}" class="badge-name">{{name}}</a>
</li>