<li class="">
    <img
            class=""
            src="{{imageurl}}"
            style="opacity: {{#owned}}1.0{{/owned}}{{^owned}}0.15{{/owned}};"
    />
    <a href="{{badgeurl}}" class="">{{name}}</a>
</li>