<link rel="stylesheet" href="/course/format/ocmooc/leaflet/leaflet.css" />
<script src="/course/format/ocmooc/leaflet/leaflet.js"></script>

<h2 class="pt-3">{{#str}}worldmap, format_ocmooc{{/str}}</h2>
<div id="map-container" style="position: relative;">
    <div id="map-overlay" style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;">
        <span class="loading-icon icon-no-margin">{{#pix}} i/loading, core, {{#str}} loading {{/str}} {{/pix}}</span>
    </div>
    <div id="map" style="height: 500px;"></div>
</div>

{{#js}}
    require(['format_ocmooc/map'], function(map) {
    map.init({{courseid}});
    });
{{/js}}
