<div class="oc-chapters wrap">
    <div class="frame" style="overflow: hidden;">
        <ul class="clearfix" style="width: {{chaptersstartwidth}}px; transform: translateX({{chapterstarttransform}}px);">
            {{#chapters}}
                <li>
                    <a href="{{url}}">
                        <img src="http://moodle.localhost/course/format/ocmooc/pix/Schnuffelhasen.png" class="{{#selected}}active{{/selected}}">
                    </a>
                </li>
            {{/chapters}}
        </ul>
    </div>
</div>