<div>
    <p class="">
        {{#str}}chapter, format_ocmooc{{/str}}{{currentchapter.chapternum}}: {{currentchapter.header.title}}
    </p>

    <!-- currentchapter.progress for current progress -->
</div>