<div class="secondary-navigation d-print-none">
    <nav class="moremenu navigation observed oc-navigation">
        <ul class="nav nav-tabs nav-more mooc-nav-list">
            {{#moocnav}}
                <li class="nav-item mooc-nav-listitem oc-nav-item {{class}}">
                    <a class="nav-link oc-nav-link mooc-nav-link {{#selected}}active active_tree_node{{/selected}}"
                       href="{{url}}">
                        {{{name}}}
                    </a>
                </li>
            {{/moocnav}}
        </ul>
    </nav>
</div>