<div class="secondary-navigation d-print-none">
    <nav class="moremenu navigation observed oc-navigation">
        <ul class="nav nav-tabs nav-more mooc-nav-list">
            {{#moocnav}}
                <li class="nav-item mooc-nav-listitem oc-nav-item {{class}}">
                    <a class="nav-link oc-nav-link mooc-nav-link {{#selected}}active active_tree_node{{/selected}}"
                       href="{{url}}">
                        {{{name}}}
                    </a>
                </li>
            {{/moocnav}}
            {{#showdropdown}}
                <li class="nav-item mooc-nav-listitem oc-nav-item moretab">
                    <div class="btn nav-link oc-nav-link mooc-nav-link"
                         id="moocnavDropdownMenu"
                         data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                        {{#str}}moremenu{{/str}}
                    </div>
                    <div class="dropdown-menu" aria-labelledby="moocnavDropdownMenu">
                        {{#moocnavdropdown}}
                            <a class="dropdown-item" href="{{url}}">
                                {{{name}}}
                            </a>
                        {{/moocnavdropdown}}
                    </div>
                </li>
            {{/showdropdown}}
        </ul>
    </nav>
</div>