<div id="oc-section-navigation" class="d-flex justify-content-center my-4">
    <div class="navigation">
        <ul id="" class="ocmooc-navigation">
            {{#firstsection}}
                <li class="ocmooc-nav-item">

                </li>
            {{/firstsection}}
            {{^firstsection}}
                <li class="ocmooc-nav-item">
                    <a href="{{prevsection}}"><i class="icon fa fa-chevron-left fa-fw text-dark" title="Vor" aria-hidden="true"></i></a>
                </li>
            {{/firstsection}}

            {{#chaptersections}}
                <li class="ocmooc-nav-item {{#selected}}active{{/selected}}">
                    {{^hidden}}
                        <a class="ocmooc-nav-link" href="{{url}}">
                            <div class="text-container">
                                {{#lectionname}}
                                    <div>{{#str}}lection, format_ocmooc{{/str}}</div>
                                {{/lectionname}}
                                {{^lectionname}}
                                    {{#rawtitle}}
                                        <div>{{{rawtitle}}}</div>
                                    {{/rawtitle}}
                                    {{^rawtitle}}
                                        <div>{{#str}}lection, format_ocmooc{{/str}}</div>
                                    {{/rawtitle}}
                                {{/lectionname}}
                                <div>{{sectionnum}}</div>
                                <!-- progress for current progress of lection -->
                            </div>
                        </a>
                    {{/hidden}}
                </li>
            {{/chaptersections}}

            {{#lastsection}}
                <li class="ocmooc-nav-item"></li>
            {{/lastsection}}
            {{^lastsection}}
                <li class="ocmooc-nav-item">
                    <a href="{{nextsection}}"><i class="icon fa fa-chevron-right fa-fw text-dark" title="Vor" aria-hidden="true"></i></a>
                </li>
            {{/lastsection}}
        </ul>
    </div>
</div>