<div id="oc-section-navigation" class="d-flex justify-content-center my-4">
    <div class="navigation">
        <ul id="" class="ocmooc-navigation">
                <li class="ocmooc-nav-item-prev" style="visibility: hidden;">
                    <a>
                        <i class="icon fa fa-chevron-left fa-fw text-dark" title="Zurück" aria-hidden="true"></i>
                    </a>
                </li>
            {{#chaptersections}}
                <li class="ocmooc-nav-item {{#selected}}active{{/selected}}" style="display: none;">
                    {{^hidden}}
                        <a class="ocmooc-nav-link flex flex-column" href="{{url}}">
                            <div class="text-container">
                                {{#lectionname}}
                                    <div>{{#str}}lection, format_ocmooc{{/str}}</div>
                                {{/lectionname}}
                                {{^lectionname}}
                                    {{#rawtitle}}
                                        <div>{{{rawtitle}}}</div>
                                    {{/rawtitle}}
                                    {{^rawtitle}}
                                        <div>{{#str}}lection, format_ocmooc{{/str}}</div>
                                    {{/rawtitle}}
                                {{/lectionname}}
                                <!-- only display section numbering if I dont have a custom title -->
                                {{^rawtitle}}
                                    <div>{{sectionnum}}</div>
                                {{/rawtitle}}
                            </div>
                            {{^hasnoprogress}}
                                <!-- progress for current progress of lection -->
                                <div class="oc-progress-div w-100 mx-1" style="float: bottom; position: relative;">
                                    <div class="w-100 m-0 p-0 float-left position-absolute" style="height: 15px; background: gray;">
                                        <div style="width: {{progress}}%; height: 15px; background: #7fce24; text-align: center; float: left;" id="oc-progress-{{id}}">
                                            <div class="position-absolute w-100 p-0" style=" font-size: 12px; line-height: 14px;color: #222; text-align: center;" id="oc-progress-text-{{id}}">
                                                {{progress}}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/hasnoprogress}}
                        </a>
                    {{/hidden}}
                </li>
            {{/chaptersections}}
                <li class="ocmooc-nav-item-next" style="visibility: hidden;">
                    <a>
                        <i class="icon fa fa-chevron-right fa-fw text-dark" title="Vor" aria-hidden="true"></i>
                    </a>
                </li>
        </ul>
    </div>
</div>
{{#js}}
    require(['format_ocmooc/navigation'], function(navigation) {
        navigation.init();
    });
{{/js}}
