{{#quicknav}}
    <hr>
    <div id="" class="oc-div-footerlinks-outer card-text content">
        <div id="" class="oc-div-footerlinks ">
            <div class="d-flex justify-content-center">
                
                <div
                        {{^footerfirst}}id="oc-div-prevlection"{{/footerfirst}}
                    {{#footerfirst}} id="oc-div-prevlection-inactive"{{/footerfirst}}>
                    <a class=" btn-secondary p-2 user-select-none"
                        {{^footerfirst}} href="{{prevsection}} "{{/footerfirst}}>
                        &#60;
                        {{#str}} footernav:prev, format_ocmooc {{/str}}
                    </a>
                </div>
                
                <div id="oc-div-up" class="mx-2">
                    <a class="btn-primary p-2 user-select-none" href="#moocnav">
                        {{#str}} footernav:top, format_ocmooc {{/str}}
                    </a>
                </div>

                <div
                        {{^lastfooter}}id="oc-div-nextlextion"{{/lastfooter}}
                    {{#lastfooter}} id="oc-div-nextlextion-inactive"{{/lastfooter}}>
                    <a class="btn-secondary p-2 user-select-none"{{^lastfooter}} href="{{nextsection}}" disabled="" {{/lastfooter}}>
                        {{#str}} footernav:next, format_ocmooc {{/str}}
                        &#62;
                    </a>
                </div>
            </div>
        </div>
    </div>
{{/quicknav}}