<div class="card-columns bd-highlight">
    {{#socials}}
        <a href="{{url}}" class="mx-4 my-2 card">
            <img src="" class="card-img-top" alt="{{type}}">
            <div class="card-footer align-items-center text-center">
                {{title}}
            </div>
        </a>
    {{/socials}}
</div>