{{$ format_ocmooc/local/moocnav/headernav}}
    {{> format_ocmooc/local/moocnav/headernav}}
{{/format_ocmooc/local/moocnav/headernav}}
{{$ format_ocmooc/local/moocnav/chapternav}}
    {{> format_ocmooc/local/moocnav/chapternav}}
{{/format_ocmooc/local/moocnav/chapternav}}
{{$ format_ocmooc/local/moocnav/chapterheader}}
    {{> format_ocmooc/local/moocnav/chapterheader}}
{{/format_ocmooc/local/moocnav/chapterheader}}
{{$ format_ocmooc/local/moocnav/sectionnav}}
    {{> format_ocmooc/local/moocnav/sectionnav}}
{{/format_ocmooc/local/moocnav/sectionnav}}