<nav id="courseindex" class="courseindex">
    <div id="courseindex-content">
        {{> format_ocmooc/local/courseindex/placeholders }}
    </div>
</nav>
{{#js}}
    require(['format_ocmooc/local/courseindex/drawer'], function(component) {
    component.init('courseindex');
    });
{{/js}}