{{$ format_ocmooc/local/content/section}}
    {{> format_ocmooc/local/content/section}}
{{/ format_ocmooc/local/content/section}}
{{#sections}}
    {{$ format_ocmooc/local/content/section}}
        {{> format_ocmooc/local/content/section}}
    {{/ format_ocmooc/local/content/section}}
{{/sections}}
<div class="mdl-left py-2 changenumsections">
    {{#addchapter}}
        <a href="{{{url}}}">
            {{title}}
        </a>
    {{/addchapter}}
    {{#addlection}}
        <a href="{{{url}}}">
            {{title}}
        </a>
    {{/addlection}}
</div>