{{$ format_ocmooc/local/content/section}}
    {{> format_ocmooc/local/content/section}}
{{/ format_ocmooc/local/content/section}}
{{#sections}}
    {{$ format_ocmooc/local/content/section}}
        {{> format_ocmooc/local/content/section}}
    {{/ format_ocmooc/local/content/section}}
{{/sections}}