<li class="forum-list-item">
    {{#url}}
        <img src="{{urllink}}" class="forumicon">
        <a href="{{url}}" class="{{modname}}-link">
            <span class="instancename-forumlist">{{name}}</span>
        </a>
    {{/url}}
</li>